<!DOCTYPE html>
<html lang="en" xmlns:th="www.thyemeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Crabbcake Recipe</title>
    <!-- Latest compiled and minified CSS -->
    <!-- Latest compiled and minified CSS -->

    <!-- You can add fonts to your website to make it more attractive. Use google fonts by referencing the css on the
                     Google Fonts APIs CDN-->
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body class="body1">


<div th:replace="fragments/mainpage::navclass"><a class="navbar-brand">Recipe Book</a></div>


<div class="container">


<div class="container">

<div class="row">
    <div class="col-md-12">
        <h1 class="shrikhand">Crabbcake Recipe</h1>
    </div>

    <div class="col-md-12">

    <div class="col-md-6">
        <img  class="imgflag" align="left" src="https://images-na.ssl-images-amazon.com/images/I/51RVrxfsCcL._SL500_AC_SS350_.jpg"/>
    </div>
    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <div class="col-md-6">
            <img  class ="standardimage" align="left" src="http://2.bp.blogspot.com/-i_4wwUI-fk8/TtquGxZqijI/AAAAAAAABJ0/B7_oSvJbAZ8/s1600/CrabCakesCake.jpg" alt="This is Marylands Crabbcake"/>
        </div>



        <div class="col-md-6">
            <h2 class="h2" >Ingredients:</h2>
            <ul class="ul">

                <li > 1 lb. jumbo lump or backfin crab meat</li>
                <li> 2 slices bread or bread crumbs</li>
                <li> 1 tbsp. mayonnaise (light or regular)</li>
                <li> 1 tbsp. Dijon mustard</li>
                <li> 2 tsp. Old Bay seasoning</li>
                <li> 1 tbsp. snipped parsley</li>
                <li>  1 egg (or substitute for special diets)</li>
                <li>  tartar sauce or cocktail sauce</li>

            </ul>


        </div>
      </div>


</div>






<p class="font1">
<h1>Directions:</h1>
<div>
    Beat the egg in a bowl. Trim the crusts from the bread and break the slices into small pieces. Add these pieces to the egg. Mix in the mayonnaise, Dijon mustard, <br/>Chesapeake seasoning and parsley, and beat well.<br/>

    Place the crabmeat in a bowl and pour the egg mixture over the top. Gently toss or fold the ingredients together, taking care not to break up the lumps of crabmeat.<br/>

    Form the cakes by hand into patties about 3 inches around and 3/4-inch thick. Shape should be like a cookie, not like a meatball or golf ball. Place the cakes in the <br/>refrigerator for at least 45 minutes before cooking. This is very important so the cakes don't fall apart.

</div>


</p>
<p>
    <h2>Broil the Crab Cakes:</h2>
<span>Slip them under a preheated broiler until nicely browned, turning to cook evenly, about 4 to 5 minutes on each side.</span>

</p>

<p>
    <h2>Or saute:</h2>
<div>
    Heat a small amount of butter or olive oil in a skillet and saute the cakes, turning several times, until golden brown or about 8 minutes total cooking time.<br/>

    Serve at once with tartar sauce, mustard, or cocktail sauce on the side.<br/>

    <b class="bclass"> Serves 6 people</b><br/>
</div>
</p>
<!-- Latest compiled and minified JavaScript -->
</div>

</div>
<script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>