<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Injera Recipe</title>

    <!-- Latest compiled and minified CSS -->

    <!-- You can add fonts to your website to make it more attractive. Use google fonts by referencing the css on the
                     Google Fonts APIs CDN-->
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/style.css">
</head>
<body class="body2">
<div th:replace="fragments/mainpage::navclass"><a class="navbar-brand">Recipe Book</a></div>




<div class="container">


    <div class="col-md-12">

        <h1 class="shrikhand">Ethiopian Injera Recipe</h1>








    </div>

    <div class="row">

        <div class="col-md-12">
            <div class="col-md-6">
            <img  class =" standardimage" align="left" src="https://petitworldcitizen.files.wordpress.com/2015/01/img_9986.jpg" alt="This is Injera"/>
            </div>
            <div class="col-md-6">
                <img  class="imgflag" align="left" src="https://media.istockphoto.com/photos/ethiopian-flag-picture-id451046847?k=6&m=451046847&s=612x612&w=0&h=8wG0fHCc6QZKeS0c3vSmuBDog64z3UkBOShOiBw7o9Y=" alt="Ethiopian flag"/>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            <h2 class="h2" >Ingredients:</h2>
            </div>
            <div class="col-md-6">
            <ul class="ulList">
                <li> ¾ cup teff flour (found in health food shops)</li>
                <li> 3½ cups water</li>
                <li> pinch of salt</li>


            </ul>
            </div>

        </div>


        </div>









<div class="col-md-12">



    <div class="well">
        <h1 class="h2">Directions:</h1>

        <p target="_blank">   Mix teff with the water. Leave to stand in a covered bowl for a couple of days until it starts to bubble.

            The mixture should be slightly sour and the consistency of crêpe batter. Stir in the salt.

            Add a ladle of the mixture to a pre-heated skillet and cook slowly until air bubbles rise to the top.

            Do not let it brown, and make sure that it is not too thick.


        </p>
    </div>




</div>


<p target="_blank">
    <h3> <b> Serves 5 people</b></h3>

</p>






</div>


<script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
