<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show a Student</title>
</head>
<body>
<a href="/">Show All Students</a><br/>

FirstName:<span th:text="${student.firstName}"></span><br/>
LastName:<span th:text="${student.lastName}"></span><br/>
EmailAddress:<span th:text="${student.emailAddress}"></span><br/>
ContactNumber:<span th:text="${student.contactNumber}"></span><br/>
MailingAddress:<span th:text="${student.mailingAddress}"></span><br/>



</body>
</html>